<?xml version="1.0"?>

<!-- Copyright © Klevu Oy. All rights reserved. See LICENSE.txt for license details. -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Klevu_Configuration::configuration"
                                      title="Klevu"
                                      sortOrder="80">
                                <resource id="Klevu_Configuration::integration"
                                          title="Integration"
                                          translate="title"
                                          sortOrder="10"/>
                                <resource id="Klevu_Configuration::data_sync"
                                          title="Data Sync"
                                          translate="title"
                                          sortOrder="30"/>
                                <resource id="Klevu_Configuration::developer"
                                          title="Developer Settings"
                                          translate="title"
                                          sortOrder="90">
                                    <resource id="Klevu_Configuration::developer_integration"
                                              title="Integration"
                                              translate="title"
                                              sortOrder="10"/>
                                    <resource id="Klevu_Configuration::developer_notifications"
                                              title="Notifications"
                                              translate="title"
                                              sortOrder="20"/>
                                </resource>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
